# Export all functions
export(chemhelper.update,
       load.camera.rules,
       name2struc,
       pubchem2inchi,
       clipboard,
       db.comp.assign,
       analyze.xcms.group,
       google_ss,
       mass_decompose,
       merge_scan_events,
       xsAnnotate_stats,
       orbifilter,
       xcmsRaw.orbifilter
       )


# Import all packages listed as Imports or Depends
import(Rcpp)
importFrom(devtools,"install_github")
importFrom(CTSgetR,"CTSgetR")
importFrom(rpubchem,"get.cid")
importFrom(xlsx,"read.xlsx","read.xlsx2","write.xlsx2")
importFrom(scales,"alpha")
importFrom(RCurl,"getURL")
importFrom(Rdisop,"initializeElements","decomposeMass","decomposeIsotopes","getFormula","getValid","getMass","getScore","initializePSE","addMolecules","subMolecules","initializeCharges")
importFrom(CAMERA,"getPeaklist")
importFrom(obabel2R,"smile2inchi")
importFrom(xcms,"xcmsRaw","getScan","profStep<-","profStep","write.mzdata")
importFrom(stringr,"str_split")

