# Export all functions
export(chemhelper.update,
       inchi2sdf,
       inchi2smile,
       inchi.keep.cont,
       load.camera.rules,
       name2struc,
       pubchem2inchi,
       rem_satellite_peaks,
       smile2inchi,
       convert.waters,
       clipboard,
       db.comp.assign,
       analyze.xcms.group,
       google_ss,
       group_correct,
       inchi.rem.stereo,
       inchi.rem.charges,
       mass_decompose,
       merge_scan_events,
       xsAnnotate_stats,
       fold.change,
       ratio.w.invert,
       rep.na,
       half.min,
       rand.to.min,
       orbifilter,
       xcmsRaw.orbifilter
       )


# Import all packages listed as Imports or Depends
import(Rcpp)

importFrom(devtools,install_github)
importFrom(MetShot,msn2xcms)
importFrom(ChemmineR,read.SDFset)
importFrom(CTSgetR,CTSgetR)
importFrom(rpubchem,get.cid)
importFrom(Biobase,copyEnv)
importFrom(xlsx,"read.xlsx","read.xlsx2","write.xlsx2")
importFrom(stringr,"str_split","str_trim","str_replace")
importFrom(xcms,"xcmsRaw","write.mzdata","getScan","profStep","plotChrom","plotTIC","profStep<-")
importFrom(scales,alpha)
importFrom(RCurl,getURL)
importFrom(Rdisop,"initializeElements","decomposeMass","decomposeIsotopes","getFormula","getValid","getMass","getScore","initializePSE","addMolecules","subMolecules","initializeCharges")
importFrom(CAMERA,"getPeaklist")
importFrom(reshape2,"recast")




